*
!.gitattributes
!.gitignore
!smic_manualeval.csv
!summary_gtp_tout.txt
!summary_gtp_cnn.txt
!summary_giga_gtp.txt
!summary_giga_amrush.txt
!readme.md
!summary_amrush_tout.txt
!.gitkeep
!*.py
!*.lua
!*.json
!*.java
!*.class
!*.jar
!*.sh
!*/

